<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Sqlite.Core.Backport" version="2.0.0.26" targetFramework="net471" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.8" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>